# 가상환경 폴더
.venv/

# 파이썬 캐시
__pycache__/

# 기타 캐시
*.pyc
*.pyo
*.pyd

# IDE/에디터 설정 파일
.vscode/
*.log
.DS_Store
Thumbs.db

# git 폴더 제외
.git/
.gitignore

# Jupyter 체크포인트 파일 제외
.ipynb_checkpoints/

# 빌드 결과물이나 임시파일
*.egg-info/
dist/
build/
